---
jos_id: 5
title: "Труппа"
jos_alias: "troupe"
modified: "2014-03-10"
layout: default
---

table
	thead
		tr
			th
				h2 Художественный руководитель и главный режиссер
	tbody
		tr
			td
				a(href='153:mihail-levshin')
					img(src='images/stories/levshin-new.jpg')
					p Заслуженный деятель искусств России 
					h3 Михаил Левшин 
table
	thead
		tr
			th(colspan='4')
				h2 Актёры
	tbody
		tr
			td
				a(href='25:mewaninova-nina')
					img(src='images/stories/Mewaninova-Nina.jpg')
					p Заслуженная артистка России 
					h3 Нина Мещанинова 
			td
				a(href='26')
					img(src='images/stories/Popenko-Taisija.jpg')
					p Заслуженная артистка России 
					h3 Таисия Попенко 
			td
				a(href='58:viktor-kostetskii')
					img(src='images/stories/Kosteckij-Viktor.jpg')
					p Заслуженный артист России 
					h3 Виктор Костецкий 
			td
				a(href='27:-gennadij-spiridenkov-za-rf')
					img(src='images/stories/Spiredenkov-Gennadij.jpg')
					p Заслуженный артист России 
					h3 Геннадий Спириденков 
table
	tbody
		tr
			td(colspan='5')
		tr
			td
				a(href='21:fillipp-azarov') 
					img(src='images/stories/act/azarov-fil.jpg')
					h3 Филипп Азаров
			td
				a(href='22:afendulov-semen')
					img(src='images/actors/Afendulov-Semen.jpg')
					h3 Семен Афендулов
			td
				a(href='23:belova-ekaterina')
					img(src='images/stories/random/belova kka.jpg')
					h3 Екатерина Белова
			td
				a(href='24:blednyh-sergej')
					img(src='images/actors/Blednyh-Sergej.jpg')
					h3 Сергей Бледных
			td
				a(href='77:ilgiz-bulgakov')
					img(src='images/actors/Bulgakov-Ilgiz.jpg')
					h3 Ильгиз Булгаков
		tr
			td
				a(href='78:ylia-burceva')
					img(src='images/stories/random/byrceva yyy.jpg')
					h3 Юлия Бурцева
			td
				a(href='51:stas-voronetski')
					img(src='images/stories/random/voronetskii sss.jpg')
					h3 Станислав Воронецкий
			td
				a(href='49:ylia-gorshenina')
					img(src='images/stories/random/gorshenina yyy.jpg')
					h3 Юлия Горшенина
			td
					h3 href='79:anna-zagrebna')
					img(src='images/stories/random/zagrebna aaa.jpg')
					h3 Анна Загребна
			td
				a(href='67:leonid-zabkin')
					img(src='images/stories/random/zabkin lll.jpg')
					h3 Леонид Зябкин
		tr
			td
				a(href='55')
					img(src='images/stories/act/ilchenko_anatolii1.jpg')
					h3 Анатолий Ильченко
			td
				a(href='53')
					img(src='images/stories/act/ispolatov aleksei.jpg')
					h3 Алексей Исполатов
			td
				a(href='54')
					img(src='images/stories/act/ispolatov_nikolai.jpg')
					h3 Николай Исполатов
			td
				a(href='65:larisa-klimova')
					img(src='images/stories/random/kiimova lll.jpg')
					h3 Лариса Климова
			td
				a(href='80:tatiana-kogevnikova')
					img(src='images/stories/random/kojevnikova ttt.jpg')
					h3 Татьяна Кожевникова
		tr
			td
				a(href='66:vitalii-kravchenko')
					img(src='images/stories/random/kravchenko vvv.jpg')
					h3 Виталий Кравченко
			td
				a(target='_blank', href='81:ekaterina-kyltina')
					img(src='images/stories/random/kyltina kkk.jpg')
					h3 Екатерина Культина
			td
				a(href='62')
					img(src='images/actors/Mitjushkina-Irina.jpg')
					h3 Ирина Митюшкина
			td
				a(href='63:lyda-nikitina')
					img(src='images/stories/random/nikitina lll.jpg')
					h3 Людмила Никитина
			td
				a(href='52:sergei-nikolaev')
					img(src='images/stories/random/nikolaev sss.jpg')
					h3 Сергей Николаев
		tr
			td
				a(href='64')
					img(src='images/stories/act/pigel_anastasia.jpg')
					h3 Анастасия Пижель
			td
				a(href='82:valerii-poletaev')
					img(src='images/stories/random/poletaev 2013.jpg')
					h3 Валерий Полетаев
			td
				a(href='50:roman-pritula')
					img(src='images/stories/random/roman prituia13.jpg')
					h3 Роман Притула
			td
				a(href='83:bezryk-ilya')
					img(src='images/stories/random/bezryk iii.jpg')
					h3 Илья Безрук
			td
				a(href='61:galina-saburova')
					img(src='images/stories/random/sabyrovaggg.jpg')
					h3 Галина Сабурова
		tr
			td
				a(href='57')
					img(src='images/stories/act/sergeev maxim.jpg')
					h3 Максим Сергеев
			td
				a(href='84:simona-stroganova')
					h3 Евгений Талашманов
			td
				a(href='85')
					img(src='images/actors/Surnina-Oksana.jpg')
					h3 Оксана Сурнина
			td
				a(href='112:mark-gavrilov')
					img(src='images/stories/af/mark%20gavrilov.jpg')
					h3 Марк Гаврилов
			td
				a(href='86:alena-azarova')
					img(src='images/stories/random/aazarova.jpg')
					h3 Алёна Азарова
		tr
			td
				a(href='56:natasha-terehova')
					img(src='images/stories/natasha%20terehova%202.jpg')
					h3 Наталья Терехова
			td
				a(href='87')
					img(src='images/actors/Shevelev-Aleksandr.jpg')
					h3 Александр Шевелев
			td
				a(href='89')
					img(src='images/stories/random/yakovleva o.jpg')
					h3 Ольга Яковлева
			td
				a(href='88')
					img(src='images/stories/random/yakushov rrr.jpg')
					h3 Роман Якушов
		tr
			th(colspan='5')
				h2 С нами сотрудничают
		tr
			td
				img(src='images/stories/random/baranov evgenii.jpg')
				p Заслуженный артист России
				h3 Евгений Баранов
			td
				a(href='281:kirilldateshidze')
					img(src='images/actors/Dateshidze-Kirill.jpg')
					h3 Кирилл Датешидзе
			td
				a(href='284:2013-09-08-18-38-31')
					img(src='images/stories/random/ivanovskii pasha 2012.jpg')
					h3 Павел Ивановский
			td
				a(href='302:andrey-shimko')
					img(src='images/stories/act/shimko-andrey1.jpg')
					h3 Андрей Шимко

			td
				img(src='images/stories/act/ageikin-yr.jpg')
				h3 Юрий Агейкин
		tr
			td
				img(src='images/stories/random/vergelis andr.jpg')
				h3 Андрей Вергелис
			td
				a(href='301:mariaosipova')
					img(src='images/stories/random/tryyosipova m1.jpg')
					h3 Мария Осипова
			td
				img(src='images/stories/random/chernova liza2012.jpg')
				h3 Елизовета Чернова
			td
				img(src='images/stories/random/tax vitalii.jpg')
				h3 Виталий Такс
			td
				img(src='images/stories/random/natasha boyaronok.jpg')
				h3 Наталья Боярёнок
		tr
			td
				img(src='images/stories/random/surjin sergei.jpg')
				h3 Сергей Суржин
			td
				img(src='images/actors/alexander-gorchyk.jpg')
				h3 Александр Гончарук
			td
				img(src='images/actors/sorokina-lina.jpg')
				h3 Лина Сорокина
			td
				img(src='images/stories/random/oskolkov_s.jpg', alt='alt')
				h3 Станислав Осколков
			td

		tr
			th(colspan='5')
				h2 Руководство
		tr
			td(colspan='5')
				dl
					dt Художественный руководитель-директор:
					dd Михаил Александрович Левшин
					dt Заместитель директора по работе со зрителем:
					dd Ольга Анатольевна Михайловцева
					dt Заместитель директора по АХЧ:
					dd Аста Моисеевна Ли
					dt Помощник художественного руководителя по труппе:
					dd Милена Альбертовна Чернова
					dt Главный бухгалтер:
					dd Юлия Валерьевна Захарова
		tr
			th(colspan='5')
				h2 Постановочная часть
		tr
			td(colspan='5')
				dl
					dt Главный художник:
					dd Полина Левшина
					dt Помощник режиссера:
					dd Людмила Бойкова
					dt Помощник режиссера:
					dd Наталия Курбатова
					dt Помощник режиссера:
					dd Елена Фёдорова
					dt Ассистент режиссера:
					dd Симона Строганова
					dt Начальник машинно-декорационного цеха:
					dd Сергей
					dt Звукооператор:
					dd
					dt Звукорежиссер:
					dd Татьяна Корнева
					dt Начальник радиоцеха:
					dd Алексей Корнев
					dt Художник по свету:
					dd Валерий Нефёдов
					dt Художник по свету:
					dd Лариса Маркова
					dt Начальник костюмерного цеха:
					dd Вера Баннова
					dt Начальник цеха реквизита и бутафории:
					dd Татьяна  Минина
					dt Художник-гример:
					dd Мария Островская
					dt Художник-гример:
					dd Евгения Лилит
					dt Художник-гример:
					dd Марина Сергеева
		tr
			th(colspan='5')
				h2 Административная часть
		tr
			td(colspan='5')
				dl
					dt Главный администратор:
					dd Людмила Алексеевна Половинкина
					dt Заведующий билетным столом:
					dd Валентин Иванович Носуля
					dt Заведующий литературной частью:
					dd Борислава Шарова
